{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ChatRoom{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>你好, {% if name %}{{ name }}{% else %}请登录{% endif %}!</h1>
    </div>
    {% if not known %}
        {{ wtf.quick_form(form) }}
    {% else %}
        <button class="btn btn-lg btn-block btn-success"
                onclick="window.location='{{ url_for('main.public_channel') }}'">
            进入公共聊天室
        </button>
    {% endif %}
    <p></p>
    <p>The local date and time is {{ moment(current_time).format('LLLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
