{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>你好, {% if name %}{{ name }}{% else %}请登录{% endif %}!</h1>
    </div>

    <div class="panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">消息版</h3>
            <h3 class="panel-title">所在频道:{{ topic_name }}</h3>
        </div>
        <div class="panel-body" id="log_channel" style="height: 300px; overflow: auto"></div>
    </div>
    <div class="panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">提交</h3>
        </div>
        <div class="panel-body">
            <form id="emit_channel" role="form" action="#" method="post">
                <fieldset>
                    {% if allow_input %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="emit_data" id="emit_data"
                                   placeholder="请输入内容">
                        </div>
                        <button id="emit_data_submit" class="btn btn-lg btn-block btn-success"
                                type="submit">发送
                        </button>
                    {% else %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="emit_data" id="emit_data"
                                   placeholder="请输入内容" disabled>
                        </div>
                        <button id="emit_data_submit" class="btn btn-lg btn-block btn-success"
                                type="submit">发送
                        </button>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>

    <p>The local date and time is {{ moment(current_time).format('LLLL') }}.</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/socketio/socket.io.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script>
        function flush_message(msg) {
            $('#log_channel').append('<br>' + $('<div/>').text('#' + msg.count + ': ' + msg.data).html());
            $('#log_channel').scrollTop(0x7fffffff);
        }

        var topic_name = "{{topic_name}}";

        $(document).ready(function () {
            var namespace = '/room1';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);


            socket.on('connect', function () {
                socket.emit('connect_ack', {
                    data: 'Connected!',
                    topic: topic_name
                });
                socket.emit('get_history_from_server', {data: null});
            });

            socket.emit('join', {
                topic:topic_name
            });

            socket.on('return_history_to_client', function (msg) {
                var arr = JSON.parse(msg['data']);
                for (var i = 0; i < arr.length; i++) {
                    flush_message(arr[i]);
                }
            });

            socket.on('to_client', function (msg) {
                flush_message(msg);
            });

            socket.on('radio', function (msg) {
                flush_message(msg);
            });
            {% if allow_input %}
                $('form#emit_channel').submit(function (event) {
                    var txt = $('#emit_data').val();
                    if (txt.length > 0) {
                        socket.emit('to_server', {
                            data: txt,
                            topic: topic_name
                        });
                        $("#emit_data").val("");
                    }
                    return false;
                });
            {% endif %}
        });
    </script>
{% endblock %}
